*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* sheard style */


.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    padding: 12px 16px;
    background-color: #469165;
    border-radius: 4px;
    border: none;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 16px;
}

.maxwith{
    max-width: 1350px;
    margin: 0 auto;
}

/* main style  */


/* header */



.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px auto;
}

.nav-menu ul{
    display: flex; 
    gap: 32px;
    list-style: none;
}
.nav-menu a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

.nav-menu a:hover{
    color: #001931;
    border-bottom: 1px solid #30B868;
}

.nav-btn a{
    text-decoration: none;
    color: #fff;
}

.nav-btn:hover{
    background-color: #001931;
}


/* banner */


.hero{
    background-image:linear-gradient(45deg,rgba(2, 69, 255, 0.486),rgba(255, 155, 5, 0.397)), url('./assets/hero-bg.png');

    text-align: center;
    padding-top: 70px;
    padding-bottom: 184px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
   
    
}

.h-btn{
    padding: 8px 12px;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    border: none;
    border-radius: 1000px;
}

.h-btn:hover{
    background-color: #0019319f;
}

.hero-btn1:hover{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
}

.h-btn3{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    margin-left: 10px;
    /* font-size: 16px;
    font-weight: 600; */
}

.h-btn3:hover, .clearly-btn:hover{
    background-color:#001931;

}

.circle-text{
    display: flex;
    gap: 6px;
    /* display: inline-block; */
}

.outer-circle {
  width: 16px;
  height: 16px;
  background: #30b86923;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle-circle {
  width: 12px;
  height: 12px;
  background: #30b86970;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-circle {
  width: 8px;
  height: 8px;
  background: #30B868;
  border-radius: 50%;
}

.hero-titel{
    font-size: 72px;
    line-height: 82px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 24px;
    margin-bottom: 16px;
}
.hero-titel span{
    color: #30B868;
}

.hero-conteiner p{
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 24px;
    margin-bottom: 32px;
}






/* notes */


.notes-container{
    text-align: center;
}
.notes-container h1{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-top: 80px;
    margin-bottom: 16px;
}

.notes-container p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-bottom: 44px;
}

.img-back{
  width: 60px;
  height: 60px;
  background: #F95555;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
 


.card-img{
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.nots-card-info {
    padding: 24px;
    border-radius: 8px;
    background-color: #FFFFFF;
    text-align: center;
    box-shadow: 0px 0px 8px 0px #0000001e;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 120px;
    
}

.nots-card-info:hover{
    background-color: #30b8693f;
}

.nots-card-info h2{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    
}



.notes-card{
    display: flex;
    gap: 24px;
}



/* solution */


/* .solution{
    max-width: 1350px;
    margin: 0 auto;
} */

.solution-cotainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.check{
    display: flex;
    gap: 6px;
    margin-bottom: 16px;
}

.solution-hed{
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    line-height: 20px;
    margin-bottom: 16px;
}

.solution-titel{
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;

}

.solution-info{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 20px;
    margin-bottom: 40px;
}

.check-text{
    font-size: 16px;
    font-weight: 500;
    color: #001931;
}



/* clearly */

.clearly{
    padding: 80px 40px;
    background-color: #F7F6F2;
    margin-top: 122px;
    text-align: center;

}

.clearly-content h1{
    font-size: 40px;
    color: #001931;
    margin-bottom: 16px;

}

.clearly-content-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}
.clearly-btn{
    margin-bottom: 16px;
}



/* footer  */

.kv-footer{
    background-color: #001931;
     padding-bottom: 30px;
}

.Social p{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.img-back-icon{
  width: 25px;
  height: 25px;
  background:white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.social-icon{
    display: flex;
    gap: 6px;
}

.footer-contant{
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 30px;
}
.hr{
    text-align: center;
    color: #FAFAFA;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.hr p{
    margin-top: 30px;
   
}

hr{
    background-color: #627382;
}


.linkedin:hover{
    color: #0077B5 ;
}

.facebook:hover{
    color: #1877F2 ;
}